@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.title{
  margin-bottom: 16px;
  position: relative;
  h2 {
    line-height: 40px;
    font-weight: bolder;
  }
  .buttonDiv{
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
  }
}
.form{
  display: block;
  margin-bottom: 16px;
  .search{
    width: 320px;
  }
}


@media screen and (max-width: @screen-lg) {
  
}

@media screen and (max-width: @screen-md) {
  
}
